*{margin:0;padding:0;border:0;outline:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent;line-height:1}
html,body{height:100%;width:100%}
div#wrapper{height:100%;width:100%;min-width:800px;font-size:12px;font-family:sans-serif;cursor:default;-khtml-user-select:none;}
div#wrapper ul{list-style:none}
div#wrapper a{color:inherit;text-decoration:none;cursor:pointer}
div#wrapper input{cursor:pointer}
div#wrapper .hide{height:0 !important;width:0 !important;visibility:hidden !important}
div#header{width:100%;height:6em;overflow:hidden;}
div#header .lbutton{cursor:pointer;position:relative;top:50%;height:60%;margin-top:-1.5%;opacity:.9;float:left}
div#header .lbutton:hover{opacity:1}
div#header .rbutton{cursor:pointer;position:relative;top:50%;height:60%;margin-top:-1.5%;opacity:.9;float:right}
div#header .rbutton:hover{opacity:1}
div#header img#open{height:60%;margin-top:-1.5%;margin-left:3%;margin-right:3%}
div#header img#prev,div#header img#next,div#header img#repeat,div#header img#shuffle,div#header img#conf{height:44%;margin-top:-1.1%}
div#header img#pause{display:none;height:60%;margin-top:-1.5%}
div#header img#mute,div#header img#volumeon{height:30%;margin-top:-.75%}
div#header img#shuffle{margin-left:2%}
div#header img#conf{margin-right:2%}
div#header div#volume{width:10%;margin:-9px auto;position:relative;top:50%}
div#header div#info{margin:-2.5em auto 0 -20%;z-index:3;position:absolute;top:3em;height:5em;left:50%;width:40%;min-width:360px;text-align:center;border-radius:1em;overflow:hidden;}
div#header div#info.full{margin:0;top:0;left:0%;width:100%;border-radius:0;}
div#header div#info.full div#albumart{visibility:visible;display:block;float:left;position:absolute;left:15%;top:50%;opacity:.3;-webkit-box-reflect:below 1px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(30%,transparent),to(#fff));}
div#header div#info.full div#albumart.realart{opacity:1}
div#header div#info.full div#filename{font-size:300%;width:60%;position:absolute;left:65%;width:40%;margin-left:-20%}
div#header div#info.full div#seek{position:absolute;left:65%;margin-left:0%;width:50%;font-size:150%;}
div#header div#info.full div#seek div#musicSliderParent{position:relative}
div#header div#info div#albumart{visibility:visible;display:none}
div#header div#info div#filename{font-size:120%;line-height:2em;width:100%;white-space:nowrap;overflow:hidden;margin-top:.3em}
div#header div#info div#seek{position:relative;float:left;left:50%;margin:0 auto;}
div#header div#info div#seek > div{float:left;margin:.5% 0% 0;position:relative;left:-50%}
div#header div#info div#current,div#header div#info div#remain{padding:0 1em}
div#header div#info div#musicSliderParent{width:25em}
div#header div#info div#musicSlider{width:100%;height:.8em;border-radius:.5em;margin:0 1%;cursor:pointer;top:.2em;}
div#header div#info div#musicSlider a{height:1em;width:1em;border-radius:.4em;top:-.1em;cursor:col-resize;opacity:.9;}
div#header div#info div#musicSlider a:hover,div#header div#info div#musicSlider a:focus{opacity:1}
div#header div#volumeSlider{float:right;top:50%;width:10%;height:.2em;margin:0 .5%;cursor:pointer;}
div#header div#volumeSlider a{background:-webkit-gradient(radial,50% 50%,1,50% 50%,30,from(#666),color-stop(.03,#fff),color-stop(.35,#777),to(#fff));-webkit-box-shadow:.2em .2em .5em #444;box-shadow:.2em .2em .5em #444;height:1em;width:1em;margin-top:-.45em;top:0%;border-radius:.5em;cursor:col-resize;opacity:.9;}
div#header div#volumeSlider a:hover,div#header div#volumeSlider a:focus{opacity:1;background:-webkit-gradient(radial,50% 50%,1,50% 50%,30,from(#000),color-stop(.03,#fff),color-stop(.35,#777),to(#fff))}
div#playlist{width:99%;margin:0 auto;font-size:1.2em;height:85%;}
div#playlist div#tablediv{height:100%;background-color:inherit;height:inherit !important}
div#playlist div#tablebody{height:100%;background-color:inherit;height:inherit !important;display:block;overflow:auto}
div#playlist table{width:100%;border-collapse:collapse;border-spacing:0;}
div#playlist table tr{text-align:left}
div#playlist table thead{clear:both;text-align:center;cursor:pointer;}
div#playlist table thead tr{height:1.5em}
div#playlist table thead th{font-weight:bolder;line-height:1.5;text-indent:1em;cursor:pointer;}
div#playlist table thead th.now{width:5%}
div#playlist table thead th.splitter{width:3px !important;min-width:2px !important;background-color:rgba(255,255,255,0.20);padding:0;margin:0;height:1px;}
div#playlist table thead th.splitter:hover{cursor:col-resize}
div#playlist table tbody tr{height:2em !important;border-top:1px solid rgba(255,255,255,0.00);}
div#playlist table tbody tr.nP{font-weight:bolder;}
div#playlist table tbody tr.nP td.now img{height:2em !important;width:2em !important}
div#playlist table tbody tr.ui-draggable-dragging img{height:2em !important;width:2em !important}
div#playlist table tbody tr.ui-draggable-dragging td.now{height:2em;text-align:center;padding:0;line-height:0}
div#playlist table tbody tr.ui-selected{color:#fff}
div#playlist table tbody tr.ui-selected + tr.ui-selected{border-top:1px solid rgba(255,255,255,0.10)}
div#playlist table tbody tr.dragover{border-top:1px solid #000}
div#playlist table tbody tr td{height:2em !important;line-height:2;vertical-align:middle;}
div#playlist table tbody tr td div{line-height:inherit;height:2em;overflow:hidden;text-overflow:ellipsis;padding-left:1em}
div#playlist table tbody tr td.now{height:2em;text-align:center;padding:0;line-height:0}
div#help{z-index:8;position:absolute;top:50%;left:50%;height:34em;width:40em;border-radius:2em;margin:-18em 0 0 -21em;padding:2em;background-color:rgba(0,0,0,0.80);color:#fff;font-size:1.2em;list-style:none;display:none;box-shadow:.1em .1em .3em rgba(255,255,255,0.50);}
div#help *{line-height:1.25}
div#help > div{width:100%;overflow:auto}
div#help .top{font-size:1.5em;text-shadow:1px 1px 3px #000}
div#help span.key{color:#ee4}
div#help span.global{text-decoration:underline}
div#help dt,div#help dd{display:inline-block;width:18em;font-size:.96em;line-height:1.3}
div#help dt{padding-right:.5em;text-align:right}
div#help dd:before{content:" : "}
div#help div.keygroups{margin-top:1em;overflow-y:scroll;height:30em}
div#help div.keygroup{margin:0 0 1em}
div#about{z-index:20;position:absolute;top:50%;left:50%;height:34em;width:40em;border-radius:2em;margin:-18em 0 0 -21em;padding:2em;background-color:rgba(0,0,0,0.80);color:#fff;font-size:1.2em;list-style:none;display:none;box-shadow:.1em .1em .3em rgba(255,255,255,0.50);}
div#about >div:not(:first-child){font-size:1.1em}
div#about *{line-height:1.25}
div#about > div{width:100%;overflow:auto}
div#about .top{font-size:1.5em;text-shadow:1px 1px 3px #000}
div#about p{margin:0 1em 1em;width:43em;color:#aaa;}
div#about p#changelog{font-size:.9em;overflow-y:scroll;height:27em}
div#property{z-index:9;position:absolute;top:50%;left:50%;height:34em;width:40em;border-radius:2em;margin:-18em 0 0 -21em;padding:2em;background-color:rgba(0,0,0,0.80);color:#fff;font-size:1.2em;list-style:none;display:none;box-shadow:.1em .1em .3em rgba(255,255,255,0.50);}
div#property *{line-height:1.25}
div#property > div{width:100%;overflow:auto}
div#property .top{font-size:1.5em;text-shadow:1px 1px 3px #000}
div#property dt{display:inline-block;border-bottom:1px solid rgba(255,255,255,0.20);word-wrap:break-word;padding-right:1em;margin-right:1em;text-align:right;width:10em}
div#property dt *{white-space:nowrap}
div#property dd{display:inline-block;border-bottom:1px solid rgba(255,255,255,0.20);word-wrap:break-word;width:25em}
div#property dd *{white-space:nowrap}
div#property > div{margin:0 0 1em;}
div#property > div#tags{overflow-y:scroll;height:27em;margin-right:1em}
div#filter{z-index:15;padding:0;position:absolute;top:50%;left:50%;display:none;width:30%;height:2em;}
div#filter input{width:90%;height:100%;margin-left:-50%;padding:.15em;background-color:rgba(255,255,255,0.60);border:.1em solid rgba(0,0,0,0.40);font-size:1.5em;font-weight:bolder;color:rgba(0,0,0,0.90);float:left}
div#filter #matchnum{float:left;width:auto;height:100%;padding:.25em;text-align:middle;background-color:transparent;color:rgba(168,168,168,0.70);font-size:1.5em}
div#videopopup{visibility:hidden;float:left;left:50%;top:50%;position:absolute;z-index:4;}
div#videopopup video{margin-left:-32em;margin-top:-18em;width:64em;height:36em}
div#albumart{float:right;right:0;bottom:0;position:absolute;z-index:4}
div#keyviewer{position:absolute;z-index:10;left:0%;top:100%;margin-left:1em;margin-top:-2.5em;width:5em;height:1.4em;font-size:500%;border:.2em solid #cc0;border-radius:.2em;padding:0;text-align:center;background-color:#cc0;display:none}
.hidden{visibility:hidden !important;width:0;height:0;position:absolute;left:-9999px}
