*
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font-weight normal
  vertical-align baseline
  background transparent
  line-height 1

hundred()
  height 100%
  width 100%

html, body
  hundred()

div#wrapper
  hundred()
  min-width 800px
  font-size 12px
  font-family sans-serif
  cursor default
  -khtml-user-select none
  ul
    list-style none

  a
    color inherit
    text-decoration none
    cursor pointer

  input
    cursor pointer

  .hide
    height 0!important
    width 0!important
    visibility hidden!important

div#header
  width 100%
  height 6em
  overflow hidden
  button()
    cursor pointer
    position relative
    top 50%
    height 60%
    margin-top -1.5%
    opacity 0.9
    &:hover
      opacity 1

  .lbutton
    button()
    float left

  .rbutton
    button()
    float right

  img
    centerimg(h)
      height h
      margin-top (-1 * h / 40)

    &#open
      centerimg(60%)
      margin-left 3%
      margin-right 3%

    &#prev, &#next, &#repeat, &#shuffle, &#conf
      centerimg(44%)

    &#pause
      display none
      centerimg(60%)

    &#mute, &#volumeon
      centerimg(30%)

    &#shuffle
      margin-left 2%

    &#conf
      margin-right 2%

  div#volume
    width 10%
    margin -9px auto
    position relative
    top 50%

  div#info
    margin -2.5em auto 0 -20%
    z-index 3
    position absolute
    top 3em
    height 5em
    left 50%
    width 40%
    min-width 360px
    text-align center
    border-radius 1em
    overflow hidden
    &.full
      margin 0
      top 0em
      left 0%
      width 100%
      border-radius 0em
      div#albumart
        visibility visible
        display block
        float left
        position absolute
        left 15%
        top 50%
        opacity 0.3
        -webkit-box-reflect below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(white))
        &.realart
          opacity 1

      div#filename
        font-size 300%
        width 60%
        position absolute
        left 65%
        width 40%
        margin-left -20%

      div#seek
        position absolute
        left 65%
        margin-left 0%
        width 50%
        font-size 150%
        div#musicSliderParent
          position relative

    div#albumart
      visibility visible
      display none

    div#filename
      font-size 120%
      line-height 2em
      width 100%
      white-space nowrap
      overflow hidden
      margin-top 0.3em

    div#seek
      position relative
      float left
      left 50%
      margin 0 auto
      > div
        float left
        margin 0.5% 0% 0
        position relative
        left -50%

    div#current, div#remain
      padding 0 1em

    div#musicSliderParent
      width 25em

    div#musicSlider
      width 100%
      height 0.8em
      border-radius 0.5em
      margin 0 1%
      cursor pointer
      top 0.2em
      a
        height 1em
        width 1em
        border-radius 0.4em
        top -0.1em
        cursor col-resize
        opacity 0.9
        &:hover, &:focus
          opacity 1

  div#volumeSlider
    float right
    top 50%
    width 10%
    height 0.2em
    margin 0 0.5%
    cursor pointer
    a
      background -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(#666), color-stop(0.03, #fff), color-stop(0.35, #777), to(#fff))
      -webkit-box-shadow 0.2em 0.2em 0.5em #444
      box-shadow 0.2em 0.2em 0.5em #444
      height 1.0em
      width 1.0em
      margin-top -0.45em
      top 0%
      border-radius 0.5em
      cursor col-resize
      opacity 0.9
      &:hover, &:focus
        opacity 1
        background -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(#000), color-stop(0.03, #fff), color-stop(0.35, #777), to(#fff))

div#playlist
  width 99%
  margin 0 auto
  font-size 1.2em
  height 85%
  div#tablediv
    height 100%
    background-color inherit
    height inherit!important

  div#tablebody
    height 100%
    background-color inherit
    //overflow-y scroll
    height inherit!important
    display block
    overflow auto

  table
    width 100%
    border-collapse collapse
    border-spacing 0
    tr
      text-align left

    thead
      clear both
      text-align center
      cursor pointer
      tr
        height 1.5em

      th
        font-weight bolder
        line-height 1.5
        text-indent 1em
        cursor pointer
        &.now
          width 5%

        &.splitter
          width 3px!important
          background-color rgba(255, 255, 255, 0.2)
          padding 0
          margin 0
          height 1px
          &:hover
            cursor col-resize

    tbody
      //overflow-y scroll
      //overflow-x hidden
      //overflow hidden
      tr
        height 2em!important
        border-top 1px solid rgba(255, 255, 255, 0)
        &.nP
          font-weight bolder
          td.now img
            // width 50%
            height 2em!important
            width 2em!important

        &.ui-draggable-dragging
          img
            height 2em!important
            width 2em!important

          td.now
            height 2em
            text-align center
            padding 0
            line-height 0

        &.ui-selected
          color #fff

        &.ui-selected + tr.ui-selected
          border-top 1px solid rgba(255, 255, 255, 0.1)

        &.dragover
          border-top 1px solid rgba(0, 0, 0, 128)

        td
          //width 25%
          //border-left 1px solid #fff
          height 2em!important
          line-height 2
          //padding-left 1em
          vertical-align middle
          div
            line-height inherit
            height 2em
            overflow hidden
            text-overflow ellipsis
            padding-left 1em
            // width inherit

          &.now
            //width 5%
            height 2em
            text-align center
            padding 0
            line-height 0

menu(zind)
  hei = 34em
  wid = 40em
  rad = 2em
  z-index zind
  position absolute
  top 50%
  left 50%
  height hei
  width wid
  border-radius rad
  margin (-1 *(hei + rad) / 2) 0 0 (-1 *(wid + rad) / 2)
  padding rad
  background-color rgba(0, 0, 0, 0.8)
  color #fff
  font-size 1.2em
  list-style none
  display none
  box-shadow .1em .1em .3em rgba(255, 255, 255, 0.5)
  *
    line-height 1.25

  > div
    width 100%
    overflow auto

  .top
    font-size 1.5em
    text-shadow 1px 1px 3px #000

div#help
  menu(8)
  span
    &.key
      color #ee4
      // font-weight bolder

    &.global
      text-decoration underline

  dt, dd
    display inline-block
    width 18em
    font-size 0.96em
    line-height 1.3

  dt
    padding-right 0.5em
    text-align right

  dd:before
    content " : "

  div.keygroups
    margin-top 1em
    overflow-y scroll
    height 30em

  div.keygroup
    margin 0 0 1em

div#about
  >div:not(:first-child)
    font-size 1.1em

  menu(20)
  p
    margin 0em 1em 1em
    width 43em
    color #aaa
    &#changelog
      font-size 0.9em
      overflow-y scroll
      height 27em

div#property
  menu(9)
  d()
    display inline-block
    border-bottom 1px solid rgba(255, 255, 255, 0.2)
    word-wrap break-word
    *
      white-space nowrap

  dt
    d()
    padding-right 1em
    margin-right 1em
    text-align right
    width 10em

  dd
    d()
    width 25em

  > div
    margin 0 0 1em
    &#tags
      overflow-y scroll
      height 27em
      margin-right 1em

div#filter
  z-index 15
  padding 0em
  position absolute
  top 50%
  left 50%
  display none
  width 30%
  height 2em
  input
    width 90%
    height 100%
    margin-left -50%
    padding 0.15em
    background-color rgba(255, 255, 255, 0.6)
    border 0.1em solid rgba(0, 0, 0, 0.4)
    font-size 1.5em
    font-weight bolder
    color rgba(0, 0, 0, 0.9)
    float left

  #matchnum
    float left
    width auto
    height 100%
    padding 0.25em
    text-align middle
    background-color transparent
    color rgba(168, 168, 168, 0.7)
    font-size 1.5em

div#videopopup
  visibility hidden
  float left
  left 50%
  top 50%
  position absolute
  z-index 4
  video
    margin-left -32em
    margin-top -18em
    width 64em
    height 36em

div#albumart
  float right
  right 0
  bottom 0
  position absolute
  z-index 4

div#keyviewer
  position absolute
  z-index 10
  left 0%
  top 100%
  margin-left 1em
  margin-top -2.5em
  width 5em
  height 1.4em
  font-size 500%
  border 0.2em solid #cc0
  border-radius 0.2em
  padding 0px
  text-align center
  background-color #cc0
  display none

